asgiref==3.5.1
Django==3.2.13
django-recaptcha==3.0.0
Pillow==9.1.0
psycopg2-binary==2.8.6
python-decouple==3.6
sqlparse==0.4.2
tzdata==2022.1
boto3==1.23.0
django-storages==1.12.3
django-session-timeout==0.1.0
