container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_createsuperuser:
    command: "echo \"from accounts.models import User; User.objects.create_superuser('Edwing', 'Monrroy', 'monrroyedwing@gmail.com', 'edwingmo', '587980')\" | python manage.py shell"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: irsmain.settings