{% load static%}

<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-2">
				<p class="text-muted"> &copy International Replacements & Service de Venezuela, CA </p>
			</div>
			<div class="col-md-3 text-md-right text-muted">
			</div>
			<div class="col-md-2 text-md-right text-muted">
				<p class="text-muted">
				<span  class="px-2">emonrroy@tornilub.com</span>
				<a href='https://api.whatsapp.com/send?phone=584243041212' target="_blank" class="px-2"><i class="fab fa-lg fa-whatsapp"></i>+584243041212</a>
				<span  class="px-2">Maracay ed Aragua</span>
				</p>
			</div>
			<div class="col-md-2 text-md-right text-muted">
				<p class="text-muted">
				<span  class="px-2">Ventas@tornilub.com</span>
				<a href='https://api.whatsapp.com/send?phone=+584243169235' target="_blank" class="px-2"><i class="fab fa-lg fa-whatsapp"></i>+584243169235</a>
				<span  class="px-2">Maracay ed Aragua</span>
				</p>
			</div>
			<div class="col-md-2 text-md-right text-muted">
				<p class="text-muted">
				<span  class="px-2">emonrroy@tornilub.com</span>
				<a href='https://api.whatsapp.com/send?phone=584243041212' target="_blank" class="px-2 whatsapp"><i class="fab fa-lg fa-whatsapp"></i>+584243041212</a>
				<span  class="px-2">Maracay ed Aragua</span>
				</p>
			</div>
			{% comment "" %}
			<div class="col-md-2 text-md-right text-muted">
				<i class="fab fa-lg fa-cc-visa"></i>
				<i class="fab fa-lg fa-cc-paypal"></i>
				<i class="fab fa-lg fa-cc-mastercard"></i>
			</div>
			{% endcomment %}
		</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->