<section class="section-content padding-y">
    <div class="container">
		<h2 id="nosotros">Sobre Nosotros</h2>
  <h4 class="text-muted">Somos en COMPRESORES INTERNACIONALES, C.A.,
    un grupo de personas  
    firmemente
    comprometidas,</h4>      
        <p>
            Somos en “COMPRESORES INTERNACIONALES, C.A.”, 
            una empresa especializada en el área del Aire 
            comprimido para uso Industrial, y bombeo de fluidos, 
            con accionistas y capital venezolano con mas de 30 años de experiencia, 
            comprometida con la excelencia, la competitividad, 
            administración eficiente de recursos y una alta vocación de servicio para satisfacer la demanda de nuestros clientes
        </p>
	</div>
</section>

<section class="section-content padding-y bg">
    <div class="container">

        <div>
                <img class="imagenparrafo" src="https://www.gardnerdenver.com/-/media/images/gdp/about-us/news-and-events/vs250_line_overlay.jpg" width="350">
                <h2 id="vision">Vision</h2>     
            <p>
                Ser la empresa líder en el área del Aire Comprimido Industrial y en el Bombeo de Fluidos, 
                garantizando a nuestros clientes un servicio integral, de calidad, con respuesta oportuna y responsabilidad, 
                que nos hagan un aliado imprescindible para el éxito en el logro de sus objetivos.

            <h2>Mision</h2>

                Proveer soluciones eficientes y eficaces en el área del Aire Comprimido Industrial y bombeo de fluidos, suministrando equipos de ultima tecnología acordes a las diversas aplicaciones requeridas en los distintos sectores productivos de la economía, 
                repuestos, servicios, y adiestramiento que garanticen la durabilidad de las soluciones aportadas.
            </p>
	    </div>
</section>